.form__fieldset {
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 10px #bbb;
    margin: 30px 0;
}

.form__labelSubject {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    margin-right: 5px;
    font-weight: bold;
    padding-bottom: 15px;
    color: hsl(207, 7%, 25%);
}

.form__field {
    max-width: 500px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #bbb;
    color: hsl(207, 7%, 25%);
}

.form__button {
    padding: 15px 20px;
    border: none;
    background-color: #0071eb;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.form__button:hover {
    background-color: hsl(211, 100%, 56%);
    box-shadow: 3px 3px 5px #bbb;
}

.form__button:active {
    background-color: hsl(211, 100%, 70%);
}

.form__paragraph {
    padding-top: 20px;
    color: hsl(207, 7%, 25%);
}